// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


a, a:visited {
    color: #555;
}
a:hover, a:visited:hover {
    color: #000;
}
